.CartInfo{
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}
.CartInfo__price{
    display: flex;
    align-items: center;
}

.CartInfo__price-icon{
    height: 33px;
    width: 33px;
}