.NavigationItem{
    cursor: pointer;
    display: flex;
    border-radius: 40px;
    box-sizing: content-box;
    text-decoration: none;

    transition: all .3s linear
}

.NavigationItem:hover {
    outline: 1px dashed #4C4CFF;
    transition: all .3s linear
}