.Ingredient{
    position: relative;
    max-width: 272px;
    list-style: none;
}
.Ingredient__count{
    position: absolute;
    top: 0;
    right: 0;
}
.Ingredient__image{
    top: 0;
    right: 0;

    width: 240px;
    height: 120px;
}

.Ingredient__name{
    text-align: center;
    min-height: 48px;
}